In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('loan_data_train.csv')

In [3]:
df

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,74047.0,30000,30000,23.28%,60 months,other,12.10%,IL,MORTGAGE,7083.33,675-679,16,17969,1.0,10+ years
2196,63768.0,4200,4200,14.33%,60 months,car,14.16%,NJ,RENT,3850.00,700-704,4,5718,0.0,2 years
2197,94545.0,19800,19775,15.31%,60 months,debt_consolidation,15.03%,IL,MORTGAGE,6666.67,675-679,10,46879,3.0,6 years
2198,53635.0,18000,18000,20.99%,60 months,credit_card,11.63%,CA,RENT,9051.83,670-674,5,32394,2.0,4 years
2199,67953.0,7550,7550,10.16%,36 months,debt_consolidation,3.83%,CA,MORTGAGE,8333.33,710-714,10,10204,0.0,2 years

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              2199 non-null   float64
 1   Amount.Requested                2199 non-null   object
 2   Amount.Funded.By.Investors      2199 non-null   object
 3   Interest.Rate                   2200 non-null   object
 4   Loan.Length                     2199 non-null   object
 5   Loan.Purpose                    2199 non-null   object
 6   Debt.To.Income.Ratio            2199 non-null   object
 7   State                           2199 non-null   object
 8   Home.Ownership                  2199 non-null   object
 9   Monthly.Income                  2197 non-null   float64
 10  FICO.Range                      2200 non-null   object
 11  Open.CREDIT.Lines               2196 non-null   object
 12  Revolving.CREDIT.Balance        2197 non-null   object
 13  Inquiries.in.the.Last.6.Months  2197 non-null   float64
 14  Employment.Length               2131 non-null   object
dtypes: float64(3), object(12)
memory usage: 257.9+ KB

In [5]:
df.shape

(2200, 15)

In [6]:
df.columns

Index(['ID', 'Amount.Requested', 'Amount.Funded.By.Investors', 'Interest.Rate',
       'Loan.Length', 'Loan.Purpose', 'Debt.To.Income.Ratio', 'State',
       'Home.Ownership', 'Monthly.Income', 'FICO.Range', 'Open.CREDIT.Lines',
       'Revolving.CREDIT.Balance', 'Inquiries.in.the.Last.6.Months',
       'Employment.Length'],
      dtype='object')

asishsom@learnbay.com

In [7]:
df.columns= df.columns.str.replace('.','_')

In [8]:
df.columns

Index(['ID', 'Amount_Requested', 'Amount_Funded_By_Investors', 'Interest_Rate',
       'Loan_Length', 'Loan_Purpose', 'Debt_To_Income_Ratio', 'State',
       'Home_Ownership', 'Monthly_Income', 'FICO_Range', 'Open_CREDIT_Lines',
       'Revolving_CREDIT_Balance', 'Inquiries_in_the_Last_6_Months',
       'Employment_Length'],
      dtype='object')


# Amount_Requested

In [10]:
##df.Amount_Requested.astype(int)

In [13]:
df.Amount_Requested=pd.to_numeric(df.Amount_Requested,errors='coerce')

In [14]:
df.Amount_Requested.dtypes

dtype('float64')

# AMOUNTFUNDED BY INVESTER

In [17]:
df.Amount_Funded_By_Investors.astype(int)

ValueError: invalid literal for int() with base 10: '17431.82'

In [18]:
df.loc[df.Amount_Funded_By_Investors=='.','Amount_Funded_By_Investors']=np.nan

In [19]:
df.Amount_Funded_By_Investors=df.Amount_Funded_By_Investors.astype(float)

In [20]:
df.Amount_Funded_By_Investors.dtypes

dtype('float64')

# Interest Rate

In [22]:
df.Interest_Rate.dtypes

dtype('O')

In [23]:
df.Interest_Rate=df.Interest_Rate.str.strip('%').astype(float)

In [24]:
df.Interest_Rate.dtypes

dtype('float64')

In [25]:
'88.88%'.strip('%')

'88.88'

In [26]:
float('88.88%'.strip('%'))

88.88

# Loan Length

In [27]:
df.Loan_Length

0       60 months
1       60 months
2       36 months
3       36 months
4       60 months
          ...
2195    60 months
2196    60 months
2197    60 months
2198    60 months
2199    36 months
Name: Loan_Length, Length: 2200, dtype: object

In [28]:
    df['Loan_Length'] = df['Loan_Length'].str.replace(' months','').astype(int)

ValueError: cannot convert float NaN to integer

In [29]:
import re

In [30]:
df.Loan_Length.replace('[a-zA-Z ]','',regex=True,inplace=True)

In [32]:
df.Loan_Length.astype(float)

ValueError: could not convert string to float: '.'

In [33]:
df.loc[df.Loan_Length=='.','Loan_Length']=np.nan

In [35]:
df.Loan_Length=df.Loan_Length.astype(float)

In [36]:
df.FICO_Range

0       720-724
1       710-714
2       690-694
3       710-714
4       730-734
         ...
2195    675-679
2196    700-704
2197    675-679
2198    670-674
2199    710-714
Name: FICO_Range, Length: 2200, dtype: object

In [37]:
df.FICO_Range.str.split('-')

0       [720, 724]
1       [710, 714]
2       [690, 694]
3       [710, 714]
4       [730, 734]
           ...
2195    [675, 679]
2196    [700, 704]
2197    [675, 679]
2198    [670, 674]
2199    [710, 714]
Name: FICO_Range, Length: 2200, dtype: object

In [38]:
def mid_value(x):
    return(int(x[0])+int(x[1]))/2

In [39]:
df.FICO_Range.str.split('-').apply(mid_value)

0       722.0
1       712.0
2       692.0
3       712.0
4       732.0
        ...
2195    677.0
2196    702.0
2197    677.0
2198    672.0
2199    712.0
Name: FICO_Range, Length: 2200, dtype: float64

In [43]:
df.FICO_Range=df.FICO_Range.str.split('-').apply(mid_value)

In [44]:
df.FICO_Range.dtypes

dtype('float64')

In [46]:
df.Open_CREDIT_Lines.astype(int)

ValueError: invalid literal for int() with base 10: '.'

In [47]:
df.Open_CREDIT_Lines=pd.to_numeric(df.Open_CREDIT_Lines,errors='coerce')

In [48]:
df.Open_CREDIT_Lines.dtypes

dtype('float64')

In [50]:
df.Revolving_CREDIT_Balance.astype(int)

ValueError: cannot convert float NaN to integer

In [51]:
df.Revolving_CREDIT_Balance=pd.to_numeric(df.Revolving_CREDIT_Balance,errors='coerce')

In [52]:
df.dtypes

ID                                float64
Amount_Requested                  float64
Amount_Funded_By_Investors        float64
Interest_Rate                     float64
Loan_Length                       float64
Loan_Purpose                       object
Debt_To_Income_Ratio               object
State                              object
Home_Ownership                     object
Monthly_Income                    float64
FICO_Range                        float64
Open_CREDIT_Lines                 float64
Revolving_CREDIT_Balance          float64
Inquiries_in_the_Last_6_Months    float64
Employment_Length                  object
dtype: object

In [53]:
df.Debt_To_Income_Ratio

0       27.56%
1       13.39%
2        3.50%
3       19.62%
4       23.79%
         ...
2195    12.10%
2196    14.16%
2197    15.03%
2198    11.63%
2199     3.83%
Name: Debt_To_Income_Ratio, Length: 2200, dtype: object

In [54]:
df.Debt_To_Income_Ratio=df.Debt_To_Income_Ratio.str.strip('%').astype(float)

In [55]:
df.Debt_To_Income_Ratio.dtypes

dtype('float64')

In [56]:
df.Employment_Length

0         5 years
1         4 years
2        < 1 year
3       10+ years
4       10+ years
          ...
2195    10+ years
2196      2 years
2197      6 years
2198      4 years
2199      2 years
Name: Employment_Length, Length: 2200, dtype: object

In [57]:
df.Employment_Length.value_counts()

10+ years    575
< 1 year     229
2 years      217
3 years      203
5 years      181
4 years      162
1 year       159
6 years      134
7 years      109
8 years       95
9 years       66
.              1
Name: Employment_Length, dtype: int64

In [58]:
df.Employment_Length.replace({'< 1 year':'1','10+ years':'10','.':np.nan},inplace=True)

In [59]:
df.Employment_Length=df.Employment_Length.replace('[a-z ]','',regex=True).astype(float)

In [60]:
df.dtypes

ID                                float64
Amount_Requested                  float64
Amount_Funded_By_Investors        float64
Interest_Rate                     float64
Loan_Length                       float64
Loan_Purpose                       object
Debt_To_Income_Ratio              float64
State                              object
Home_Ownership                     object
Monthly_Income                    float64
FICO_Range                        float64
Open_CREDIT_Lines                 float64
Revolving_CREDIT_Balance          float64
Inquiries_in_the_Last_6_Months    float64
Employment_Length                 float64
dtype: object

In [63]:
df.isnull().sum()

ID                                 1
Amount_Requested                   5
Amount_Funded_By_Investors         4
Interest_Rate                      0
Loan_Length                        2
Loan_Purpose                       1
Debt_To_Income_Ratio               1
State                              1
Home_Ownership                     1
Monthly_Income                     3
FICO_Range                         0
Open_CREDIT_Lines                  7
Revolving_CREDIT_Balance           5
Inquiries_in_the_Last_6_Months     3
Employment_Length                 70
dtype: int64

In [64]:
df.drop(['ID','State'],axis=1,inplace=True)

In [65]:
df.nunique()

Amount_Requested                   355
Amount_Funded_By_Investors         657
Interest_Rate                      265
Loan_Length                          2
Loan_Purpose                        14
Debt_To_Income_Ratio              1526
Home_Ownership                       5
Monthly_Income                     581
FICO_Range                          38
Open_CREDIT_Lines                   28
Revolving_CREDIT_Balance          2079
Inquiries_in_the_Last_6_Months      10
Employment_Length                   10
dtype: int64

In [66]:
num_cols=[]
for i in df:
    if (df[i].dtype!=object) and (df[i].nunique()>11):
        num_cols.append(i)

In [67]:
num_cols

['Amount_Requested',
 'Amount_Funded_By_Investors',
 'Interest_Rate',
 'Debt_To_Income_Ratio',
 'Monthly_Income',
 'FICO_Range',
 'Open_CREDIT_Lines',
 'Revolving_CREDIT_Balance']

In [68]:
cat_cols=[]
for i in df:
    if i not in num_cols:
        cat_cols.append(i)

In [69]:
cat_cols

['Loan_Length',
 'Loan_Purpose',
 'Home_Ownership',
 'Inquiries_in_the_Last_6_Months',
 'Employment_Length']

In [70]:
def mean_imputer(col):
    df[col].fillna(df[col].mean(),inplace=True)

In [71]:
def mode_imputer(col):
    df[col].fillna(df[col].mode()[0],inplace=True)

In [72]:
for i in num_cols:
    mean_imputer(i)

In [73]:
for i in cat_cols:
    mode_imputer(i)

In [74]:
df.isna().sum()

Amount_Requested                  0
Amount_Funded_By_Investors        0
Interest_Rate                     0
Loan_Length                       0
Loan_Purpose                      0
Debt_To_Income_Ratio              0
Home_Ownership                    0
Monthly_Income                    0
FICO_Range                        0
Open_CREDIT_Lines                 0
Revolving_CREDIT_Balance          0
Inquiries_in_the_Last_6_Months    0
Employment_Length                 0
dtype: int64

In [75]:
df

,Amount_Requested,Amount_Funded_By_Investors,Interest_Rate,Loan_Length,Loan_Purpose,Debt_To_Income_Ratio,Home_Ownership,Monthly_Income,FICO_Range,Open_CREDIT_Lines,Revolving_CREDIT_Balance,Inquiries_in_the_Last_6_Months,Employment_Length
0,25000.0,25000.00,18.49,60.0,debt_consolidation,27.56,MORTGAGE,8606.56,722.0,11.0,15210.0,3.0,5.0
1,19750.0,19750.00,17.27,60.0,debt_consolidation,13.39,MORTGAGE,6737.50,712.0,14.0,19070.0,3.0,4.0
2,2100.0,2100.00,14.33,36.0,major_purchase,3.50,OWN,1000.00,692.0,13.0,893.0,1.0,1.0
3,28000.0,28000.00,16.29,36.0,credit_card,19.62,MORTGAGE,7083.33,712.0,12.0,38194.0,1.0,10.0
4,24250.0,17431.82,12.23,60.0,credit_card,23.79,MORTGAGE,5833.33,732.0,6.0,31061.0,2.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,30000.0,30000.00,23.28,60.0,other,12.10,MORTGAGE,7083.33,677.0,16.0,17969.0,1.0,10.0
2196,4200.0,4200.00,14.33,60.0,car,14.16,RENT,3850.00,702.0,4.0,5718.0,0.0,2.0
2197,19800.0,19775.00,15.31,60.0,debt_consolidation,15.03,MORTGAGE,6666.67,677.0,10.0,46879.0,3.0,6.0
2198,18000.0,18000.00,20.99,60.0,credit_card,11.63,RENT,9051.83,672.0,5.0,32394.0,2.0,4.0
2199,7550.0,7550.00,10.16,36.0,debt_consolidation,3.83,MORTGAGE,8333.33,712.0,10.0,10204.0,0.0,2.0

In [76]:
# Import label encoder 
from sklearn import preprocessing 

# label_encoder object knows 
# how to understand word labels. 
label_encoder = preprocessing.LabelEncoder() 

# Encode labels in column 'species'. 
df['Loan_Purpose']= label_encoder.fit_transform(df['Loan_Purpose'])

In [77]:
df.Home_Ownership=df.Home_Ownership.apply(lambda x:3 if x=='OWN' else 1 if x=='RENT' else 2)

In [78]:
df.dtypes

Amount_Requested                  float64
Amount_Funded_By_Investors        float64
Interest_Rate                     float64
Loan_Length                       float64
Loan_Purpose                        int32
Debt_To_Income_Ratio              float64
Home_Ownership                      int64
Monthly_Income                    float64
FICO_Range                        float64
Open_CREDIT_Lines                 float64
Revolving_CREDIT_Balance          float64
Inquiries_in_the_Last_6_Months    float64
Employment_Length                 float64
dtype: object